node_modules
out
*.css
**/coverage
reports
*.log
tsconfig.tsbuildinfo
**/.blitz/**
**/.next/**
**/dist/**
**/.vercel/**
**/.test*
**/generated/**
**/codegen.ts

prettier.config.*
jest.config.*
jest.setup.*
babel.config.*
eslint.config.*

/__mocks__
/__fixtures
/assets
/patches
/scripts
/types